html, body {
	height: 100%;
}

.background {
	z-index: -1;
	background-image: url(images/f72e2c85.jpeg);
	background-size: cover;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.container {
	background-color: #fafafa;
	min-height: 100%;
}

#menu > .row {
	background: linear-gradient(to bottom, #785, #562);
	text-align: center;
}

.options-toggle a {
	font-size: large;
	color: #ffffff;
	display: block;
}

.options-toggle.expanded {
	background: linear-gradient(to top, #785, #562);
}

#prefs {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s;
}

#prefs.expanded {
	max-height: 500px;
}

#hunger {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s;
}

#hunger.expanded {
	max-height: 12em;
}

#map {
	height: 8em;
	transition: height 1s;
}

#map.expanded {
	height: 20em;
}

.food-list {

}

.food-list th > h4 {
	margin-bottom: 0;
}

.food-list .food-list-icon {
	padding-top: 0;
	padding-bottom: 0;
	width: 40px;
}

.food-list .food-list-icon img {
	width: 40px;
	height: 40px;
}

.food-list .food-list-metric {
	text-align: right;
	white-space: nowrap;
}

.food-list tr + .no-nearby {
	display: none;
}

.food-list .no-nearby {
	text-align: center;
}

.vertProg
{
	-webkit-appearance: slider-vertical; /* WebKit */
	/*transform: rotate(-90deg);*/
	display:inline-block;
	width:100px;
}
.vertProgLeft
{
	-webkit-appearance: slider-vertical; /* WebKit */
	/*transform: rotate(-90deg);*/
	display:inline-block;
	width:100px;
	float: left
}

.progContainer
{
	position: relative;
	overflow: visible;
}

.progContainer b:before{
	content:'';
	padding:30% 0;
	display:block;
	background:transparent;
	position:relative;
	top:5px
}

.progContainer b{
	white-space: nowrap;
	display: inline-block;
	overflow: visible;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);

	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.bglabel {
	-moz-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
}


