html, body {
	height: 100%;
	font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.background {
	z-index: -1;
	background-image: url(images/granola.jpg);
	background-size: cover;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.container {
	background-color: rgba(250, 250, 250, 0.95);
	min-height: 100%;
}

#menu > .row {
	background: linear-gradient(to bottom, #0e707e, #024f5a);
	background: linear-gradient(to bottom, #0a5a90, #06446c);
	text-align: center;
}

.logo {
	max-height: 200px;
	border-bottom: solid #084a7b;
}

.options-toggle a {
	font-size: large;
	color: #ffffff;
	display: block;
}

.options-toggle.expanded a {
	background: linear-gradient(to top, #0e707e, #024f5a);
	background: linear-gradient(to top, #0a5a90, #06446c);
}

#prefs,
#about,
#hunger {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s, opacity 0.5s;
	opacity: 0.4;
}

#prefs.expanded {
	max-height: 12em;
	opacity: 1;
}

#about.expanded {
	max-height: 20em;
	opacity: 1;
}

#hunger.expanded {
	max-height: 12em;
	opacity: 1;
}

#map {
	height: 12em;
	transition: height 1s;
}

#map.expanded {
	height: 26em;
}

.food-list {

}

.food-list th > h4 {
	margin-bottom: 0;
}

.food-list th .form-control {
	font-weight: normal;
}

.food-list th.food-list-metric {
	cursor: pointer;
}

.food-list .food-list-icon {
	padding-top: 0;
	padding-bottom: 0;
	width: 40px;
	vertical-align: middle;
}

.food-list .food-list-icon img {
	width: 40px;
	height: 40px;
}

.food-list .food-list-metric {
	text-align: right;
	white-space: nowrap;
	width: 0;
}

.food-list .food-list-rating {
	padding-left: 0;
}

.food-list .food-list-description {
	width: 100%;
}

.no-nearby {
	text-align: center;
}

.vertProg
{
	-webkit-appearance: slider-vertical; /* WebKit */
	/*transform: rotate(-90deg);*/
	display:inline-block;
	width:100px;
}
.vertProgLeft
{
	-webkit-appearance: slider-vertical; /* WebKit */
	/*transform: rotate(-90deg);*/
	display:inline-block;
	width:100px;
	float: left
}

.progContainer
{
	position: relative;
	overflow: visible;
}

.progContainer b:before{
	content:'';
	padding:30% 0;
	display:block;
	background:transparent;
	position:relative;
	top:5px
}

.progContainer b{
	white-space: nowrap;
	display: inline-block;
	overflow: visible;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);

	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.sortedColumn:after{
	font-family: 'Glyphicons Halflings';
	content:"\E153";
}

span.hidden {
	visibility: hidden;
}

