body {
	background-color: #fafafa;
}

.radio-custom label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-right: 15px;
	font-size: 12px;
}

#map {
	height: 8em;
	transition: height 1s;
}

#map:hover {
	height: 20em;
}

input[type=range][orient=vertical]
{
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	height: 175px;
	padding: 0 5px;
}

.bglabel {
	-moz-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
}


