body {
<<<<<<< HEAD
	background-color: cadetblue;


}

input[type=range][orient=vertical]
{
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	height: 175px;
	padding: 0 5px;
}

.bglabel {
	transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
=======
	bgcolor: #fafafa;
}

#map {
	height: 8em;
	transition: height 1s;
}

#map:hover {
	height: 20em;
>>>>>>> 0d118e6080b8f49bfe34c8e9c2bff444e104344f
}
